html {
    font-size: 10px;
    height: 100vh;
    background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), url('./background.jpg');
    background-position: center;
    background-size: cover;
}

body,
html {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.kit-wrapper {
    width: 90vw;
    height: 100vh;
    margin: auto;
}

.keys {
    margin-top: 20vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.key {
    border: .4rem solid black;
    border-radius: .5rem;
    margin: 1rem;
    font-size: 3.5rem;
    padding: 1.5rem 1.5rem;
    transition: all .07s ease;
    width: 10rem;
    text-align: center;
    color: white;
    background: rgba(0, 0, 0, 0.7);
    text-shadow: 0 0 .5rem black;
    user-select: none;
    cursor: pointer;

}

.playing {
    transform: scale(1.1);
    border-color: #ffc600;
    box-shadow: 0 0 1rem #ffc600;
}

kbd {
    display: block;
    font-size: 5rem;
}

.sound {
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    color: #ffc600;


}